# Repos
/repos.json

# Output
/output/

# Temporary
/tmp/

# IDE
/.idea/

# Package Manager
/node_modules/

# Build
/build/
/docs/build/

# Debug
/npm-debug.log

# Coverage
/coverage/
/.nyc_output/
.vscode/

#env
.env
